{% extends "layout.html" %}
{% block title %}About Logit{% endblock %}
{% block body %}
<div class="login">
<p>This is a pastebin made by Yasoob Khalid as a side project.</p>
<p>I made it as a small project just to learn the skills required to make a pastebin and to learn a little about databases and user authentication.</p>
<p>This pastebin is not currently OpenSourced but I will try to release the source code soon on GitHub. This pastebin offers some unique options. Here are some of the features:</p>
<ul>
<li>You can choose to post anonymous pastes (If you are logged out then your post is anonymous)</li>
<li>Automatic focus on textarea so that you can quickly start typing</li>
<li>Syntax highlighting</li>
<li>Signup and keep track of your pastes</li>
<li>You can delete your paste anytime if you have signed up</li>
<li>Commenting system</li>
</ul>
</div>
{% endblock %}