{% extends "layout.html" %}
{% block title %}About Logit{% endblock %}
{% block body %}
<div class="login">
<h3 class="comment-head">> Feedback</h3>
<p>I would be very grateful to you if you can send me some feedback about your experience on this website. If you want me to integrate some additional features then don't hesitate to ask about that as well.</p>
<ul>Here are a couple of ways to give me feedback:
	<li><a href="mailto:yasoob.khld@gmail.com">My email address</a></li>
	<li><a href="http://www.twitter.com/yasoobkhalid">@yasoobkhalid</a></li>
	<li><a href="https://www.facebook.com/m.yasoob">Facebook</a></li>
</ul> 
</div>
{% endblock %}