{% extends "layout.html" %}
{% block title %}New Paste {% endblock %}
{% block body %}
  <ul><li><h2>New Paste 
  {% if recent_paste %}
  <span>Your recent paste: <a href="{{url_for('show_paste', paste_id=recent_paste)}}">#{{recent_paste}}</a></span>
  {% endif %}
  </h2></li></ul>
  <form action="" method=post name="pasteform">
    <div class="code code-home">
	  	<p class = "home-input">Title: <input type="text" name="title" value="{{reply_to_title}}" placeholder = "<optional>"> </p>
		<p class="home-input right">Visibility: <input type="radio" name="visibility" value="secret"> Secret <input type="radio" name="visibility" value="public" checked> Public</p>
	    <textarea name='code' cols='60' rows='18' placeholder="<required>">{{ reply_to.code }}</textarea>
	    <input class = "paste-btn" type=submit value="Logit!">
    </div>
  
  </form>

{% endblock %}
