<html>
<head>
	<title>{% block title %}{% endblock %}| Logit</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{url_for('static',  filename = 'css/bootstrap.css')}}" type="text/css">
	<link rel="stylesheet" href="{{url_for('static',  filename = 'css/main.css')}}" type="text/css">
	<link rel="shortcut icon" href="{{url_for('static',filename = 'images/favicon.ico')}}">
	{% block head %}
	{% endblock %}
</head>
<body>
	<div class="box">
	<div class = 'logo'>
	<a href="{{url_for('home')}}"><img src = {{ url_for('static', filename = 'images/logo.png') }}></a>
	</div>
	<p class="nav">
		<a href = "{{url_for('home')}}">new paste</a> //
		{% if session['user_email'] %}
		<a href = "{{url_for('my_pastes')}}">profile</a> //
		<a href = "{{url_for('logout')}}">log out</a> //
        {% else %}
		<a href = "{{url_for('login')}}">log in</a> //
        {% endif %}
		<a href = "{{url_for('about_page')}}">about</a> //
		<a href = "{{url_for('feedback')}}">feedback</a> 
	</p>
	<div class = "flash-messages">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<ul class=flashes>
		{% for category, message in messages %}
		<li class = {{category}}>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
	</div>

	{% block body%}
	{% endblock %}
	<link rel="stylesheet" href="{{url_for('static', filename = "css/highlight.min.css")}}">
	<script src = "http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{url_for('static', filename = "js/highlight.min.js")}}"></script>
	<script>
		$(document).ready(function() {
		  $('pre.highlight').each(function(i, e) {hljs.highlightBlock(e)});
		});
	</script>

	<p class="footer">
    © Copyright 2013 by <a href="http://yasoob.github.io/">Yasoob Khalid</a>. This website is in no way linked with the <a href = "http://flask.pocoo.org/">flask project</a><br>
    {% if session['user_email'] %} 
    //
    <a href="{{url_for('my_pastes')}}">profile</a> /
    <a href="{{url_for('logout')}}" title="signed in as {{session['user_name'] }}">sign out</a>
    {% endif %}
    </p>
    </div>
</body>
</html>

