{% extends "layout.html" %}
{% block title %}Paste #{{ paste.id }} {{paste.title}} {% endblock %}
{% block body %}
  <h2>Paste #{{ paste.id }} {{paste.title or ''}}</h2>
  <dl>
    <dt>Author
    {% if paste.user %}
    <dd>{{ paste.user.name }}
    {% else %}
    <dd>Anonymous
    {% endif %}
    <dt>Date
    <dd>{{ paste.pub_date.strftime('%Y-%m-%d @ %H:%M') }}
    <dt>Actions
    <dd><a href="{{url_for('view_raw',paste_id=paste.id)}}">raw</a> /
    <dd><a href="{{url_for('home',reply_to=paste.id)}}"> reply</a>
    {% if session['user_name'] == paste.user.name%}
    /
    <dd><a href="{{url_for('delete_paste',paste_id=paste.id)}}">delete</a>
    {% endif %}
    <dt>Link
    <dd><input type="text" onclick="this.focus();this.select()" name="url" value="{{request.url}}">
    </dl>
  <div class='code-div'><pre class="highlight"><code>{{ paste.code }}</code></pre></div>

  {% if paste.comments.all() %}
    <h3 class = "comment-head"><b>Comments:</b></h3>
    <div class="comment-div">
    {% for i in paste.comments.all() %}
    <div class = "comment"><ul>
    <li><span class="comment-author">{{i.user.name}} said: </span><span class="comment-date">{{ i.pub_date.strftime('%Y-%m-%d @ %H:%M') }}</span></li>
    <pre class = "comment-box">{{i.message}}</pre></div>
 

    {% endfor %}
    </div>
  {% else %}
  <h3 class = "comment-head"><b>Comments:</b></h3>
  <div class="comment-div">
  <p>No comments! Be the first one to comment.</p>
  </div>
  {% endif %}

  {% if session['user_email'] %}
  <h3><ul><li>Comment</li></ul></h3>
  <form action="" method=post>
    <div class='code'><textarea class="comment-area" name=comment cols=40 rows=4></textarea>
    <input class = "login-btn" type=submit value="Comment"></div>
  </form>
  {% else %}
  <p> In order to comment you need to be logged in! Do so by <a href="{{url_for('login')}}">clicking here</a></p>
  {% endif %}
{% endblock %}
